//Sass 공식문서
@debug 10s + 15s; // 25s
@debug 1in - 10px; // 0.8958333333in
@debug 5px * 3px; // 15px*px


.one {
    font-size: 15px - 10px;
}

//error
// .two {
//     font-size: 15px - 1em;
// }
// 고정값, 가변값 계산했을 때 문제가 됨

.three {
    font-size: 1in - 15px;
}

.four {
    font-size: 1cm - 15px;
}

// sass에서는 어차피 연산이 되기 때문에 calc를 사용할 필요가 없음

.six {
    font-size: 1 - 15px;
}

.seven {
    font-size: 15px - 10;
}