// Scss
// base-button은 컴파일 되지 않음
%base-button {
    width: 133px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
}

// extend로 가져와서 컴파일 됨
// 그치만.. mixin을 쓰면 해결될 일 (mixin은 include 안하면 컴파일 되지 않으니까)
.follow-button {
    @extend %base-button;
    background-color: #ffffff;
    color: #ff375f;
    border: 3px solid #ff375f;
}

.message-button {
    @extend %base-button;
    background-color: #ff375f;
    color: white;
}